h1{
    color:yellow;
    background-color:gray;
}
.unordered-list {
    color:blueviolet;
}
.btn-1{
    font-size: 36px;
    border: 1px solid yellow;
    background-color:thistle;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.btn-2{
    font-size: 36px;
    border: 1px solid yellow;
    background-color: rgb(193, 86, 108);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
#parent-container{
    border: 2px solid black;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    height: 500px;

}
.list1,.list2,.list3{
    margin: 10px;
    height: 50px;

}
h1{
    color: bisque;
    text-align: center;
    padding: 30px;
    border-style: solid;
}
.maindiv{
    color: bisque;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.list1{
    color: rgb(255, 115, 115);
    border-style: solid;
    padding: 10px 20px;
    margin: 20px;
}
.list2{
    color: rgb(255, 115, 115);
    border-style: solid;
    padding: 10px 20px;
    margin: 20px;

}
.list3{
    color: rgb(255, 115, 115);
    border-style: solid;
    padding: 10px 20px;
    margin: 20px;

}
